:root {
    --primary: #86B817;
    --secondary: #FE8800;
    --light: #F5F5F5;
    --dark: #14141F;
}
@font-face {
    font-family: 'Playball';
    
    src:url('./assets/css/Playball-Regular.ttf')
}


@font-face {
    font-family: 'Orange Lemonade';
    src: url('./assets/css/Orange\ Lemonade.otf') format('opentype');
}
.explore-text{
    font-family: 'Orange Lemonade', cursive;
}
.playball-text
{
  font-family: 'Playball-Regular';
}

.navbar .nav-link.active {
    color: #86B817 !important;
    font-weight: 700;
}
